In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.preprocessing import OneHotEncoder
import statsmodels.api as sm

In [2]:
df = pd.read_csv('../../../data/Clean_data.csv')

In [3]:
df = df.dropna()
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,Seattle,Snoqualmie,Woodinville,sqft_living_diff,sqft_lot_diff,year,x0_fall,x0_spring,x0_summer,x0_winter
0,221900.0,3.0,1.00,1180.0,5650.0,1.0,0,0.0,3.0,7.0,...,1.0,0.0,0.0,-160.0,0.0,2014.0,1.0,0.0,0.0,0.0
1,538000.0,3.0,2.25,2570.0,7242.0,2.0,0,0.0,3.0,7.0,...,1.0,0.0,0.0,880.0,-397.0,2014.0,0.0,0.0,0.0,1.0
2,180000.0,2.0,1.00,770.0,10000.0,1.0,0,0.0,3.0,6.0,...,0.0,0.0,0.0,-1950.0,1938.0,2015.0,0.0,0.0,0.0,1.0
3,604000.0,4.0,3.00,1960.0,5000.0,1.0,0,0.0,5.0,7.0,...,1.0,0.0,0.0,600.0,0.0,2014.0,0.0,0.0,0.0,1.0
4,510000.0,3.0,2.00,1680.0,8080.0,1.0,0,0.0,3.0,8.0,...,0.0,0.0,0.0,-120.0,577.0,2015.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21414,700000.0,3.0,2.50,2230.0,4006.0,2.0,0,0.0,3.0,8.0,...,1.0,0.0,0.0,0.0,-174.0,2015.0,0.0,1.0,0.0,0.0
21415,800000.0,4.0,3.25,3540.0,159430.0,2.0,0,0.0,3.0,9.0,...,0.0,0.0,0.0,1600.0,-232610.0,2014.0,0.0,0.0,0.0,1.0
21416,899000.0,4.0,3.50,2490.0,5500.0,2.0,0,0.0,3.0,9.0,...,1.0,0.0,0.0,780.0,0.0,2015.0,0.0,0.0,1.0,0.0
21417,465750.0,3.0,2.50,2670.0,4534.0,2.0,0,0.0,3.0,9.0,...,0.0,0.0,0.0,-370.0,-545.0,2014.0,0.0,0.0,0.0,1.0
21418,485000.0,2.0,2.50,1430.0,923.0,3.0,0,0.0,3.0,8.0,...,1.0,0.0,0.0,-190.0,-582.0,2014.0,1.0,0.0,0.0,0.0

In [4]:
df2 = df[df["grade"] <= 6]
df2

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,Seattle,Snoqualmie,Woodinville,sqft_living_diff,sqft_lot_diff,year,x0_fall,x0_spring,x0_summer,x0_winter
2,180000.0,2.0,1.00,770.0,10000.0,1.0,0,0.0,3.0,6.0,...,0.0,0.0,0.0,-1950.0,1938.0,2015.0,0.0,0.0,0.0,1.0
25,233000.0,3.0,2.00,1710.0,4697.0,1.5,0,0.0,5.0,6.0,...,0.0,0.0,0.0,680.0,-8.0,2014.0,1.0,0.0,0.0,0.0
36,550000.0,4.0,1.00,1660.0,34848.0,1.0,0,0.0,1.0,5.0,...,1.0,0.0,0.0,-500.0,23381.0,2014.0,0.0,1.0,0.0,0.0
44,309000.0,3.0,1.00,1280.0,9656.0,1.0,0,0.0,4.0,6.0,...,0.0,0.0,0.0,-60.0,848.0,2014.0,0.0,0.0,1.0,0.0
46,210490.0,3.0,1.00,990.0,8528.0,1.0,0,0.0,3.0,6.0,...,0.0,0.0,0.0,-238.0,-312.0,2015.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20379,395000.0,2.0,1.00,700.0,7457.0,1.0,0,0.0,3.0,6.0,...,1.0,0.0,0.0,-800.0,327.0,2015.0,0.0,0.0,1.0,0.0
20946,110000.0,2.0,1.00,828.0,4524.0,1.0,0,0.0,3.0,6.0,...,0.0,0.0,0.0,0.0,-878.0,2015.0,0.0,0.0,1.0,0.0
20953,193000.0,2.0,1.75,910.0,2550.0,1.0,0,0.0,3.0,6.0,...,0.0,0.0,0.0,-400.0,0.0,2015.0,0.0,0.0,1.0,0.0
21027,375000.0,1.0,1.00,720.0,3166.0,1.0,0,0.0,3.0,6.0,...,1.0,0.0,0.0,-420.0,-3084.0,2014.0,1.0,0.0,0.0,0.0
21316,245000.0,1.0,1.00,390.0,2000.0,1.0,0,0.0,4.0,6.0,...,1.0,0.0,0.0,-950.0,-3100.0,2015.0,0.0,0.0,1.0,0.0

In [5]:
df2

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,Seattle,Snoqualmie,Woodinville,sqft_living_diff,sqft_lot_diff,year,x0_fall,x0_spring,x0_summer,x0_winter
2,180000.0,2.0,1.00,770.0,10000.0,1.0,0,0.0,3.0,6.0,...,0.0,0.0,0.0,-1950.0,1938.0,2015.0,0.0,0.0,0.0,1.0
25,233000.0,3.0,2.00,1710.0,4697.0,1.5,0,0.0,5.0,6.0,...,0.0,0.0,0.0,680.0,-8.0,2014.0,1.0,0.0,0.0,0.0
36,550000.0,4.0,1.00,1660.0,34848.0,1.0,0,0.0,1.0,5.0,...,1.0,0.0,0.0,-500.0,23381.0,2014.0,0.0,1.0,0.0,0.0
44,309000.0,3.0,1.00,1280.0,9656.0,1.0,0,0.0,4.0,6.0,...,0.0,0.0,0.0,-60.0,848.0,2014.0,0.0,0.0,1.0,0.0
46,210490.0,3.0,1.00,990.0,8528.0,1.0,0,0.0,3.0,6.0,...,0.0,0.0,0.0,-238.0,-312.0,2015.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20379,395000.0,2.0,1.00,700.0,7457.0,1.0,0,0.0,3.0,6.0,...,1.0,0.0,0.0,-800.0,327.0,2015.0,0.0,0.0,1.0,0.0
20946,110000.0,2.0,1.00,828.0,4524.0,1.0,0,0.0,3.0,6.0,...,0.0,0.0,0.0,0.0,-878.0,2015.0,0.0,0.0,1.0,0.0
20953,193000.0,2.0,1.75,910.0,2550.0,1.0,0,0.0,3.0,6.0,...,0.0,0.0,0.0,-400.0,0.0,2015.0,0.0,0.0,1.0,0.0
21027,375000.0,1.0,1.00,720.0,3166.0,1.0,0,0.0,3.0,6.0,...,1.0,0.0,0.0,-420.0,-3084.0,2014.0,1.0,0.0,0.0,0.0
21316,245000.0,1.0,1.00,390.0,2000.0,1.0,0,0.0,4.0,6.0,...,1.0,0.0,0.0,-950.0,-3100.0,2015.0,0.0,0.0,1.0,0.0

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2254 entries, 2 to 21316
Data columns (total 48 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             2254 non-null   float64
 1   bedrooms          2254 non-null   float64
 2   bathrooms         2254 non-null   float64
 3   sqft_living       2254 non-null   float64
 4   sqft_lot          2254 non-null   float64
 5   floors            2254 non-null   float64
 6   waterfront        2254 non-null   int64
 7   view              2254 non-null   float64
 8   condition         2254 non-null   float64
 9   grade             2254 non-null   float64
 10  sqft_above        2254 non-null   float64
 11  basement          2254 non-null   int64
 12  yr_built          2254 non-null   float64
 13  yr_renovated      2254 non-null   float64
 14  zipcode           2254 non-null   float64
 15  lat               2254 non-null   float64
 16  long              2254 non-null   float64
 17  sqft_living15     2254 non-null   float64
 18  sqft_lot15        2254 non-null   float64
 19  Auburn            2254 non-null   float64
 20  Bellevue          2254 non-null   float64
 21  Black_diamond     2254 non-null   float64
 22  Bothell           2254 non-null   float64
 23  Duball            2254 non-null   float64
 24  Enumclaw          2254 non-null   float64
 25  Fall city         2254 non-null   float64
 26  Federal_way       2254 non-null   float64
 27  Issaquah          2254 non-null   float64
 28  Kenmore           2254 non-null   float64
 29  Kent              2254 non-null   float64
 30  Kirkland          2254 non-null   float64
 31  Maple Valley      2254 non-null   float64
 32  Medina            2254 non-null   float64
 33  Mercer Island     2254 non-null   float64
 34  North Bend        2254 non-null   float64
 35  Renton            2254 non-null   float64
 36  Sammamish         2254 non-null   float64
 37  Seattle           2254 non-null   float64
 38  Snoqualmie        2254 non-null   float64
 39  Woodinville       2254 non-null   float64
 40  sqft_living_diff  2254 non-null   float64
 41  sqft_lot_diff     2254 non-null   float64
 42  year              2254 non-null   float64
 43  x0_fall           2254 non-null   float64
 44  x0_spring         2254 non-null   float64
 45  x0_summer         2254 non-null   float64
 46  x0_winter         2254 non-null   float64
 47  Size              2254 non-null   object
dtypes: float64(45), int64(2), object(1)
memory usage: 862.9+ KB

In [6]:
df2['waterfront'].value_counts()

0    2240
1      14
Name: waterfront, dtype: int64